body {
  font: 15px/1.5 Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  background-color: rgb(255, 255, 255);
}
/*Global*/
.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}
ul {
  padding: 0%;
  margin: 0%;
}

li a {
  font-weight: 500;
  font-size: 16px;
  color: rgb(38, 131, 50);
  text-decoration: none;
}
/*header*/
header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 10%;
  background: black;
}
.nav_links {
  list-style: none;
}
.logo {
  margin-right: auto;
}
.nav_links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav_links li a:hover {
  color: rgb(161, 111, 161);
}
button {
  margin-left: 20px;
  padding: 9px 25px;
  background-color: #129b00;
  border: none;
  border-radius: 50px;
  /* cursor: pointer; */
  /* transition: all 0.3ease 0s; */
}
button:hover {
  background-color: rgb(161, 111, 161);
}

/*header*/

/*main section*/

.top-half-wallpaper {
  background: url(imgs/ilya-pavlov-OqtafYT5kTw-unsplash.jpg) no-repeat;
  width: 100%;
  height: 100vh;
  background-size: cover;
}
.page-title {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  color: rgba(250, 250, 250, 0.925);
}
.section {
  width: 100%;
  min-height: 100vh;
  background-color: rgb(70, 68, 68);
}
.container {
  width: 80%;
  display: block;
  margin: auto;
  padding-top: 100px;
}
.content-section p {
  float: right;
  width: 30%;
}
.image-section {
  float: left;
  width: 60%;
}
.image-section img {
  width: 60%;
}
.content-section #About {
  text-transform: uppercase;
  font-size: 28px;
  text-align: center;
}

.content-section .content p {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: auto;
}

section img[src$=".png"] {
  width: 200px;
  height: 200px;
}
/*main section*/

/*about me section*/
.about-me-div {
  display: flex;
  flex-wrap: wrap;
  background-color: gray;
}

.about-me-pic {
  flex: 1 1 50%;
}
.about-me-bio {
  flex: 1 1 50%;
  padding-top: 5%;
  padding-bottom: 5%;
  text-align: center;
  margin: auto;
}
img[src$=".jpg"] {
  width: 50%;
  height: 98.5%;
  border-radius: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-style: solid;
  border-color: white;
  box-shadow: 0 0 20px rgb(153, 147, 147);
}
.about-me-bio p {
  color: white;
}

/*about me section*/

/*media query*/
@media (max-width: 768px) {
  header .container,
  header .highlight,
  header nav li,
  section .container,
  .section h1,
  .section #about,
  .section p,
  .image-section img,
  #github-icon a {
    float: none;
    text-align: center;
    width: 100%;
  }
}
/*media query*/

/*footer*/
footer {
  background-color: black;
  height: auto;
  width: 100vw;
  padding-top: 20px;
  color: white;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.footer-content h3 {
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
}

.footer-content p {
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
}

.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.socials li {
  margin: 0 10px;
}

.socials a {
  text-transform: none;
  color: white;
}
.socials a i {
  font-size: 1.1rem;
}
.socials a:hover i {
  color: rgb(161, 111, 161);
}
.footer-bottom {
  background: black;
  width: 100vw;
  padding: 20px 0;
  text-align: center;
}

.footer-bottom p {
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}
.footer-bottom span {
  text-transform: uppercase;
  opacity: 0.4;
  font-weight: 200;
}
/*footer*/
